@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins, sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgb(94, 94, 182), rgb(10, 10, 89));
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 40%;
    width: 40%;
    background-color: rgba(63, 95, 175, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: rgba(240, 248, 255, 0.067);
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

button:hover {
    transform: scale(1.025);
}

@media (max-width: 450px) {
    .container {
        height: 50%;
        width: 50%;
    }
}
